= form_for @lesson do |f|
  -if @lesson.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lesson.errors.count, "error")} Чтобы сохранить:"
      %ul
        - @lesson.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :hours
    = f.number_field :hours
  .field
    = f.label :subject_id
    = f.number_field :subject_id
  .field
    = f.label :discipline_group_id
    = f.number_field :discipline_group_id
  .actions
    = f.submit 'Сохранить'