%h4 Список дисциплин



= link_to 'Создать дисциплину', new_discipline_group_path, :class => "btn"
%br
%br

%table.table.table-bordered.table-hover
  %tr
    %th Название
    %th Недель по плану
    %th Редактирование

  - @discipline_groups.each do |discipline_group|
    %tr
      %td= discipline_group.name
      %td= discipline_group.weeks_by_plan
      %td
        = link_to 'Открыть', discipline_group, :class => "btn btn-success"
        = link_to 'Редактировать', edit_discipline_group_path(discipline_group), :class => "btn"
        = link_to 'Удалить', discipline_group, :confirm => 'Вы уверены?', :method => :delete, :class => "btn btn-danger"

%br

%br
//%div{ :style => 'width: 10%; margin: 0px auto;' }
//  = will_paginate(@discipline_group, :previous_label => '&#8592;', :next_label => '&#8594;')